*{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #000638;
  box-sizing: border-box;
}
/*---HEADER---*/
header{
  width: 100%;

  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /*position: fixed;*/
  box-sizing: border-box;
  text-decoration: none;
  background-color: rgb(255, 255, 255);

}
a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover{
  color: #2ca9fda4;
}
li{
  list-style: none;
}
header ul{
  display: flex;
  padding: 0;
  margin: 0;
}
header ul li{
  padding: 0 4rem;
}
header ul li a{
  font-weight: bold;
}
header .cart{
  position: relative;
  cursor: pointer;
}
header .cart box-icon{
width: 60px;
height: 60px;
}
header .cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: blue;
}
/*---MEDIA---*/
@media only screen and (max-width:700px){
  .carrito_item{
    width: 92%;
  }
}
@media only screen and (max-width:1000px){
  .carrito{
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  .carrito_item h3{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:600px){
  header ul{
    display: none;
  }
}

/*---PRODUCTOS---*/
.title{
  font-size: 4rem;
  padding: 1rem 0 1rem 0;
  color: rgb(255, 255, 255);
  text-align: center;
}
h2{
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
  color: rgb(255, 255, 255);
  text-align: center;
}
.productos{
  padding: 2rem 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}
.producto{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
  border: 6px solid transparent;
  background-color: white;
  border-radius: 5px;
}
.producto:hover{
  border: 6px solid lightblue;
}
.producto_img img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.producto_footer{
  padding: 0.5rem;
}
.producto_footer h1{
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.producto_footer p{
  font-weight: 700;
  color: rgba(0, 0, 0, 0.55);
  text-transform: uppercase;
  font-size: 18px;
}
.producto_footer .price{
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
.producto .buttom{
  width: 100%;
  height: 45px;
  display: grid;
  justify-content: center;
  padding: 0 1rem;
  margin: 1rem;
}
.buttom .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}
.buttom button{
  background-color: rgb(0, 17, 255);
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.buttom p{
  background-color: rgb(255, 0, 0);
  max-width: 250px;
  width: 100%;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.buttom div{
  background-color: rgb(76, 0, 255);
  display: grid;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  border-radius: 5px;
}
.buttom div a{
  color: white;
  font-weight: 700;
}
.buttom div a:hover{
  color: white;
}
/*---BUSCADOR---*/
.containerInput{
  width: 50%;
  display:flex;
  position:realtive;
  margin:1rem auto;
  flex-direction:row;
  box-shadow:5px 5px 0 rgb(22, 66, 160);
}


/*---INICIO---*/
.inicio{
  width: 100%;
  margin: 0 auto;
  
}
.inicio h1{
  font-size: 2.5rem;
  color: blue;
  text-align: center;
  padding: 1rem 0 1rem 0;
}
.inicio img{
  width: 100%;
}
/*---CATEGORIAS---*/
.categorias {
  padding: 6rem 10rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(10rem, 1fr));
  gap: 3rem 5rem;
  box-sizing: border-box;
  align-items: center;
}

.category{
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 6px solid transparent;
  font-family: sans-serif;
  text-decoration: none;
  color: #000000;
  border-style: outset;
  position: relative;
  transition: all .35s;
  cursor: pointer;

}
.category:hover {
  color: #fff;
}

.category:hover:after {
  width: 100%;
}
.category span {
  position: relative;
  z-index: 2;
}

.category:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0077ff;
  color: white;
  transition: all .35s;
}

.category:hover:after {
  width: 100%;
}
/*---CARRITO---*/
.carritos{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgb(0, 0, 0,.6);
  z-index: 2;
  padding-bottom: 5rem;
  visibility: hidden;
}
.carrito{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  scale: (1);
  width: 80%;
  height: 80%;
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: scroll;
  transition: all 300ms ease-in-out;
  background-color: white;
  opacity: 0;
  visibility: hidden;
}
.carrito h2{
  text-align: center;
  font-size: 2rem;
}
.carritos.show{
  visibility: visible;
}
.carrito.show{
  transform: translate(-50%,-50%)
  scale(1.1);
  opacity: 1;
  visibility: visible;
}
.carrito_close box-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
cursor: pointer;
transition: all 300ms ease-in-out;
margin: 3rem 0 0 2rem;
}
.carrito_close box-icon:hover{
fill: blue;
}
.carrito_center{
  width: 80%;
  margin: 0 auto;
}
.carrito_item{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 1px 10px lightskyblue;
  border-radius: 5px;
}
.carrito_item img{
  width: 5rem;
}
.carrito_item h3{
margin-top: 1.5rem;
font-weight: 600;
font-size: 1.5rem;
font-family: Arial, Helvetica, sans-serif;
}
.carrito_item .price{
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-left: -1rem;
}

.carrito_item box-icon{
  fill: blue;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-top: .3rem;
}
.carrito_item .cantidad{
  font-size: 2rem;
  font-weight: bold;
}
.carrito_item .remove_item box-icon{
  width: 60px;
  height: 80px;
fill: blue;
margin-top: 2rem;
}
.carrito_footer{
  text-align: center;
  margin-bottom: 3rem;
}
.carrito_footer h3{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.carrito_footer .btn{
  display: inline-block;
  padding: .3rem 1rem;
  font-size: 1.2rem;
  color: white;
  background-color: blue;
  border: 0;
  outline: 0;
  cursor: pointer;

}
.carrito_footer .btn:hover{
  background-color: rgb(27, 100, 236);
  color: rgb(0, 0, 0);
}
/*---BOTONES DEL HEADER---*/
.botones_menu {
  background: linear-gradient(-30deg, #001f86 50%, #004eb3 50%);
  padding: 20px 20px;
  margin: 12px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #d4e0f7;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.botones_menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4ac5eb;
  color: white;
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

.botones_menu span {
  position: absolute;
}
.botones_menu span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#ffffff));
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #ffffff);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

.botones_menu span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#ffffff));
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #ffffff);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  100% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
  }
}

.botones_menu span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#ffffff));
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #ffffff);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
  100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
  100% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
}

.botones_menu span:nth-child(4) {
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#ffffff));
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #ffffff);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
  }
  100% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
  }
  100% {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
}
/*---TABLA DE LA ORDENES---*/
table {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
  width: 45rem;
  text-align: center;
}

th, td {
  border: solid 6px #000000;
  padding: 2px;

}

thead {
  background-color: #00b1d0;
  border-bottom: solid 5px #000000;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: #b0b0b0;
}
.mostrar{
  background-color: rgb(0, 17, 255);
  max-width: 250px;
  width: 100%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: 1rem;
  border: transparent;
}
.mostrar:hover{
  background-color: rgba(0, 195, 255, 0.548);
  color: rgb(0, 0, 0);
}

.ordenes{
  padding: 2rem 1rem;
  margin: 0 auto;
  display: grid;

  box-sizing: border-box;
}
.orden{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.2);
  border: 6px solid transparent;
  background-color: rgba(255, 255, 255, 0.199);
  border-radius: 5px;
}